<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix Rain</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2
        class="wrapper__h2 wrapper__matrix-rain-title wrapper__h_color_red"
        id="matrix-rain-title"
      >
        Matrix Rain
      </h2>
      <section class="earth">
        <canvas id="matrix-rain-canvas"></canvas>
      </section>
    </div>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <script
      type="text/javascript"
      src="../assets/js/modules/matrixRain.js"
    ></script>
  </body>
</html>
